package components

templ ProfessionalForm() {
    @Layout(form())
}

templ form() {
    <main class="mx-auto">
	<h1>Cadastro de Profissional</h1>
    <form action="/professional" method="POST" class="w-1/2 flex flex-col gap-1 m-auto">
        @InputText("nome", true, "Nome", "")
        @InputEmail("email", true, "")
        @InputText("documento", true, "CPF", "")
        @InputText("telefone", false, "Telefone", "")
        @Button("cadastrar","submit")
    </form>
    </main>
}