{{define "content"}}
<h1>Lista de Sessões</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Paciente</th>
        <th>Data e Hora</th>
        <th>Notas</th>
        <th>Plano</th>
        <th>Profissional</th>
    </tr>
    </thead>
    <tbody>
    {{range .}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.PatientName}}</td>
        <td>{{.Date}}</td>
        <td>{{.Notes}}</td>
        <td>{{.Plan}}</td>
        <td>{{.ProfessionalName}}</td>
        <td>
            <form action="/sessions/{{.ID}}" method="POST">
                <input type="hidden" name="id" value="{{.ID}}">
                <button type="submit">Deletar</button>
            </form>
        </td>
    </tr>
    {{else}}
    <tr>
        <td colspan="5">Nenhuma sessão cadastrada.</td>
    </tr>
    {{end}}
    </tbody>
</table>
{{end}}